[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
joblib = "*"
scikit-learn = "*"
imblearn = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
typing = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
